
h2 {
    text-align: center;
    letter-spacing: 10px;
    font-size: 220%;
}
header {
    text-align:center;
    font-size: 200%;
    letter-spacing: 5px;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}


/* Bilder index.html */
.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.photoContent{
    float: left;
    width: 48%;
    margin: 0;
    border: 0;
}
.container::after{
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
    height: 100%;
    margin:0;
    border: none;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .photoContent {
        width: 100%;
    }
}


/* EFFEKTER */
.photoContent:hover #n1, #n2, #n3, #n4, #n5, #n6 {
    opacity: 0.7;
}

#contentPurple:hover #n1, #contentBlue:hover #n2, #contentRed:hover #n3,
#contentOrange:hover #n4, #contentPink:hover #n5, #contentGreen:hover #n6{
    opacity: 0.7;
}

#n1, #n2, #n3, #n4, #n5, #n6 {
    opacity: 0.2;
    transition: 1s ease;
    backface-visibility: hidden;
}

#contentPurple {
    background-color: rgb(199, 157, 255);
}
#contentBlue {
    background-color: rgb(162, 199, 255);
}
#contentRed {
    background-color: rgba(255, 129, 129, 0.822);
}
#contentOrange {
    background-color: rgb(255, 184, 117);
}
#contentPink{
    background-color: rgb(231, 161, 176);
}
#contentGreen{
    background-color: rgb(3, 160, 98);
}
/* slutt, bilder index.html */

/* Home knapper på bilde(i).html sider */
input[type=submit]{
    font-size: 20px;
    background-color: grey;
    border: grey 1px solid;
    border-radius: 20px;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button_container{
    text-align: center;
    margin-top: 70px;
}
/* slutt, home knapper på bilde(i).html sider */


/* Wireframes button i index.html side */
.button_wireframes{
    margin: 200px;
    text-align: center;
}
#wire_button {
    font-size: 20px;
    background-color: darkgrey;
    color: white;
    padding: 20px 52px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: darkgrey solid 1px;
    border-radius: 20px;
}
/* slutt, Wireframes button i index.html side */


/* wireframe.html */
.wireframe_photo{
    width: 80%;
}
.wireframe_content{
    text-align: center;
    margin-bottom: 100px;
}
/* slutt, wireframe.html */


/* sider med bildene */
.BildeSider {
    width: 70%;
    padding-bottom: 30px;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 30px;
}

.bilde_side_boks{
    display: block;
    padding-bottom: 100px;
}
main{
    text-align: center;
}

@media screen and (max-width: 700px) {

    .BildeSider{
        width: 100%;
    }
    p{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* slutt, sider med bildene */


