
img.A {
    max-width: 500px;
}
img.B {
    max-width: 500px;
}
img.C {
    max-width: 500px;
}
img.D {
    max-width: 500px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    vertical-align:middle;
}