
.content {
    background-color: rgb(27, 27, 27);
    height: 480px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    text-align:center;
    font-size: 130%;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}

img {
    max-width: 55%;  
    margin:0px
}

.right{
    float: right;
}

.left {
    float: left;
}
