
img.A {
    max-width: 55%;  
    margin:0px
}
img.B {
    max-width: 55%;  
    margin:0px
    
}
img.C {
    max-width: 55%;  
    margin:0px
}
img.D {
    max-width: 55%;  
    margin:0px
}
.content {
    background-color: white;
    height: 480px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    text-align:center;
    font-size: 130%;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}
